{% extends 'shop/base.html' %}
{% block content %}
<div class="container" style="width: 1000px;">
  <h2 class="text-center my-5"> Order History</h2>
 
  <div class="row gy-5 ">
    {%if orders%}
    {%for order in orders %}
<div class="shadow p-3 mb-5 bg-body rounded">

    <div class="col-12">
      <div class="row justify-content-end text-end">
      <div class="col-6">
                  <div><a href="{%url 'cart:cancel_confirmation' order.id %}" class="btn btn-danger">Cancel Order</a></div>
      </div>
      </div>
      <h5>Order Id: #{{order.id}}</h5>
      <h6>Order Placed On : {{order.created_at}}</h6>
      
      <div class="row my-4 gy-4">
        {% for item in order.items.all %}
        <div class="col-2">
        <div ><img src="{{item.product.image}}" style="width: 100px;height: 100px;"></div>
        </div>
        <div class="col-4">
          <h5>{{item.product.name}}</h5>
           Quantity:  {{item.quantity}}
         </div>
         {%endfor%}

      </div>
    </div>
</div>
    {%endfor%}
    {%else%}
    <h2 style="text-align: center;margin-top: 100px;">No orders yet</h2>
    {%endif%}
  </div>
  
</div>
  

   {%endblock%}
 